---
 - hosts: all
   ignore_errors: yes
   become: yes
   tasks:
        
        - name: Install tree
          yum:
            name: tree
            state: present
          when: ansible_distibution == "CentOS"

        - name: install tree
          apt:
            name: tree
            state: present
          when: ansible_distribution == "Ubuntu"
